<!DOCTYPE html>

<html>

<head>

{% block stylesheets %}
    <link href="{{ asset('styles/signup.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

</head>


<body>
<br><br><br>
<h3 class="text-center">Entrez votre adresse email</h3>



</body>



</html>