<!DOCTYPE html>

<html>

<head>

{% block stylesheets %}
    <link href="{{ asset('styles/signup.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

</head>


<body>
<br><br><br>
<h2 class="text-center">Verification Email</h2>

<p class="text-center">Veuillez vérifier votre adresse e-mail en cliquant sur le lien qui vous a été envoyé sur<p>
<p class="text-center text-success text-gradient">{{ email }}</p>

</body>



</html>